.target-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    padding: 1.5rem;
    background-color: var(--color-background-medium);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Added shadow */
    margin-bottom: 2rem;
    align-items: center;
}

.target-form h3 {
    grid-column: 1 / -1; /* Judul membentang di semua kolom */
    margin: 0;
    color: var(--color-primary); /* Use primary color for headings */
}

.target-form input,
.target-form select,
.target-form button {
    padding: 0.8rem;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    font-size: 1rem;
    color: var(--color-text-primary);
    background-color: var(--color-background-light);
}

.target-form button {
    background-color: var(--color-primary);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: background-color 0.2s ease;
}

.target-form button:hover {
    background-color: #367BBF; /* Slightly darker primary on hover */
}

.target-list {
    margin-top: 2rem;
}