.add-btn {
  background-color: var(--color-primary);
  color: white;
  border: none;
  padding: 0.7rem 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.add-btn:hover {
  background-color: #367BBF; /* Slightly darker primary on hover */
}